* {
  margin: 0;
}

/*Start Pure CSS Gradient Background Animation */
html {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #5161fb);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*End Pure CSS Gradient Background Animation */

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;

}

main {
  background: url(images/background.svg);
  width: 345px;
  height: 642px;
  box-shadow:0 0.125rem 2rem hsl(240deg 3% 11%);
  
}


.badge {
  position: absolute;
  width: 358px;
  height: 440px;
  color: var(--grey);
  border-radius: 7px;
}

.hole {
  position: absolute;
  background: #2e1928;
  z-index: 1;
  width: 100px;
  height: 12px;
  margin-left: 7.7rem;
  margin-top: 1.5rem;
  border-radius: 1.5rem;
}

.tie {
  position: absolute;
  z-index: 2;
  width: 80px;
  height: 750px;
  background: radial-gradient(#fff700, #18473ec9);
  top: 0;
  margin-top: -45rem;
  margin-left: 8.4rem;
  border-radius: 0 0 0.6rem 0.6rem;
  box-shadow:0 0.125rem 7.06rem hsl(0deg 5% 10%);
}



.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}


.container a:hover{
  font-size: 1.06rem;
  top:-4px;
  border-radius: 1.25rem;
  box-shadow:0 0.125rem 0.06rem hsl(338deg 98% 57%);
  transition: all .2s ease-in-out;
  
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;

}



li:hover{
  box-shadow:0.02rem hsl(338deg 98%);
  transition: all .2s ease-in-out;
  
}

	/* estilos versão tablet */
@media (min-width: 720px) {
  
  main {
    background: url(images/background.svg) no-repeat center/cover;
    width: 645px;
    height: 642px;
    box-shadow:0 0.125rem 2rem hsl(240deg 3% 11%);
    
  }
  .container{
    position: absolute;
    font-size: 1.26rem;
    top:-110px;
    margin-left: 227px;
  
  
  }
  .hole {
    background: #141313;
    margin-left: 17rem;
    margin-top: 1.5rem;
  
  }
  
  .tie {
    margin-top: -45rem;
    margin-left: 17.6rem;
   
  }

}

/* estilos versão Galaxy Fold e mobile mini */
@media (max-width: 280px) {

  main {
    background: url(images/background.svg) no-repeat center/cover;
    width: 265px;
    height: 542px;
    box-shadow:0 0.125rem 2rem hsl(240deg 3% 11%);
    
  }
  .container{
    position: absolute;
    font-size: 1.26rem;
    top:-150px;
    margin-left: 10px;
  }
  .hole {
    margin-left: 5.5rem;
    margin-top: 0.3rem;
  }
  
  .tie {
    margin-top: -46rem;
    margin-left: 6rem;
   
  }
  
}

@media (min-width: 960px) {
  .container {
    margin: auto 45%;
  }
  .hole {
    margin-left: 58%;
    margin-top: 0.3rem;
  }
  
  .tie {
    margin-top: -46rem;
    margin-left: 61%;
   
  }
  main {
    background: url(images/background.svg) no-repeat center/cover;
     opacity: .8;
     width: 40%;
  }
}
