* {
  margin: 0;
}

/*Start Pure CSS Gradient Background Animation */
html {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #5161fb);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*End Pure CSS Gradient Background Animation */

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg);
  width: 375px;
  height: 812px;
  box-shadow:0 0.125rem 2rem hsl(240deg 3% 11%);
  
}

/* main:hover{
  -webkit-transform: perspective(600);
  -webkit-transition: -webkit-transform 2s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(-180deg);
} */

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}


.container a:hover{
  font-size: 1.06rem;
  top:-4px;
  border-radius: 1.25rem;
  box-shadow:0 0.125rem 0.06rem hsl(338deg 98% 57%);
  transition: all .2s ease-in-out;
  
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;

}



li:hover{
  box-shadow:0.02rem hsl(338deg 98%);
  transition: all .2s ease-in-out;
  
}
